[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
gunicorn = "*"
flask-login = "*"
flask-wtf = "*"
flask-mongoengine = "*"
flask-security = "*"
flask-testing = "*"
gevent = "*"
pycodestyle = "*"
google-api-python-client = "*"
datetime = "*"
dateutils = "*"
