{% extends"helpers/dashboard.html" %} {% block title %} MyPlanner Dashboard {% endblock %} {% block main %}

<h3 class="text-center"> My Classes </h3>

<!-- Class Cards  -->
{% for row_of_class in classes | batch(3) %}
<div class="container">
    <br>
    <div class="row">
        {% for class in row_of_class %}
        <div class="card col-md-4">
            <div class=" view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <div class="card-body">
                <h4 class="card-title">{{ class.name }}</h4>
                <hr>
            </div>
            <div class="card-data flex-center">
                <ul>
                    <li>
                        <i class="fa fa-clock-o"></i> </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"> </i></a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>{% endfor %}

<a class="btn-floating btn-lg quillioButton" style="position: fixed; right:35px; bottom:35px;" data-toggle="modal" data-target="#createClassForm">
    <i class="fa fa-plus"></i>
</a>

{% endblock %} {% block js_import %}
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>
{% endblock %}
