{% extends"helpers/dashboard.html" %} {% block title %} Assignment Dashboard {% endblock %} {% block main %}

<h3 class="text-center"> All Assignments </h3>

<!-- Assignment Cards  -->
{% for row_of_events in allEvents|sort(attribute='date_time') | batch(3) %}
<div class="container">
    <br>
    <div class="row mb-r">
        {% for event in row_of_events %}
        <div class="col-md-4">
            <div class="card">
                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{event.name}}
                    </h4>
                    <!--Text-->
                    <p class="card-text">This {{event.typeOfEvent}} is due on {{event.time_str}}</p>
                </div>
            </div>
            <!--/.Card-->
        </div>
        {% endfor %}
    </div>
</div>{% endfor %} {% endblock %} {% block js_import %}
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>

{% endblock %}