{% extends"helpers/dashboard.html" %} {% block title %} MyPlanner Dashboard {% endblock %} {% block main %}

<h3 class="text-center"> My Classes </h3>

<!-- Class Cards  -->
{% for row_of_class in classes|reverse | batch(3) %}
<div class="container">
    <br>
    <div class="row">
        {% for class in row_of_class %}
        <div class="col-md-4">
            <div class="card">
                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{class.name}}<a><i id="deleteClassID" value="{{class.id}}" onclick="deleteClass(`{{class.id}}`)" class="fa fa-trash" data-toggle="modal" data-target="#deleteClassConfirm"></i></a></h4>
                    <!--Text-->
                    {% if class.events|length == 1%}
                    <p class="card-text">You have {{ class.events|length }} assignment due.</p>
                    {% else %}
                    <p class="card-text">You have {{ class.events|length }} assignments due.</p>
                    {% endif %}
                    <a href="/classes/{{class.id}}" class="btn btn-primary">View {{class.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

<a class="btn-floating btn-lg myplannerButton" style="position: fixed; right:35px; bottom:35px;" data-toggle="modal" data-target="#createClassForm">
    <i class="fa fa-plus"></i>
</a>

<!-- Create New Class Modal -->
<div class="modal fade" id="createClassForm" tabindex="-1" role="dialog" aria-labelledby="createClassForm" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header darken-3 white-text" style="background-color: #45526E">
                <h4 class=" title">
                    <i class="fa fa-penci1"></i> Add Class
                </h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input type="text" id="name" value="" class="form-control" required>
                        <label for="name"> Class Name </label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" id="professor" value="" class="form-control" required>
                        <label for="name"> Professor Name </label>
                    </div>
                    <select id="days" class="mdb-select" multiple>
                        <option value="-1" disabled selected>Days</option>
                        <option id="Monday" value="0">Monday</option>
                        <option id="Tuesday" value="1">Tuesday</option>
                        <option id="Wednesday "value="2">Wednesday</option>
                        <option id="Thursday" value="3">Thursday</option>
                        <option id="Friday" value="4">Friday</option>
                        <option id="Saturday" value="5">Saturday</option>
                        <option id="Sunday"value="6">Sunday</option>
                    </select>
                    <div class="md-form">
                        <input placeholder="Start of Semester" type="text" id="start_date" class="form-control datepicker" required>
                        <label for="start_date"></label>
                    </div>
                    <div class="md-form">
                        <input placeholder="End of Semester" type="text" id="end_date" class="form-control datepicker" required>
                        <label for="end_date"></label>
                    </div>
                    <div class="md-form">
                        <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker" required>
                        <label for="input_starttime"></label>
                    </div>
                    <div class="md-form">
                        <input placeholder="Selected time" type="text" id="input_endtime" class="form-control timepicker" required>
                        <label for="input_endtime"></label>
                    </div>
                    <div class="text-center mt-1-half">
                        <button id="classCreateButton" onclick="addClass()" class="btn btn-mdb mdb-2">
                            Add Class
                            <i class="fa fa-send ml-1"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- \Create New Class Modal -->

{% endblock %} {% block js_import %}
<script type="text/javascript">
    $('.mdb-select').material_select();
    $(".button-collapse").sideNav();
    $('#start_date').pickadate();
    $('#end_date').pickadate();
    $('#input_starttime').pickatime({
        twelvehour: true
    });
    $('#input_endtime').pickatime({
        twelvehour: true
    });
</script>

<script>
    function addClass() {
        console.log("suh dude")
        let payload = []
        let n = $('#name').val();
        var selectedDays = $('#days').val();
        console.log(n)
        let prof = $('#professor').val();
        console.log(prof)
        var selectedDays = $('#days').val();
        console.log(selectedDays)
        let sd = $('#start_date').val();
        console.log(sd)
        let ed = $('#end_date').val();
        console.log(ed)
        let st = $('#input_starttime').val();
        console.log(st)
        let et = $('#input_endtime').val();
        console.log(et)
        payload.push({
            name: n,
            professor: prof,
            days: selectedDays,
            start_date: sd,
            end_date: ed,
            start_time: st,
            end_time: et
        });

        console.log(payload);

        $.ajax({
                type: "POST",
                url: `/classes/addClass`,
                data: JSON.stringify(payload),
                success: function(data) {
                    console.log(data);
                },
                contentType: "application/json"
            })
            .done(function() {
                window.location.href = "/classes"
            })

    }

    function deleteClass(class_id) {
        console.log("we out here, gonna finna delete a class")

        console.log(class_id)

        let payload = []

        payload.push({
            class_id: class_id
        });

        $.ajax({
                type: "POST",
                url: `/classes/${class_id}/deleteClass`,
                data: JSON.stringify(payload),
                success: function(data) {
                    console.log(data);
                },
                contentType: "application/json"
            })
            .then(function() {
                window.location.href = "/classes"
            })
    }
</script>
{% endblock %}