{% extends"helpers/dashboard.html" %} {% block title %} MyPlanner Dashboard {% endblock %} {% block main %}

<h3 class="text-center"> My Assignments for {{c.name}}</h3>

<!-- Assignment Cards  -->
{% for row_of_events in c.events | batch(3) %}
<div class="container">
    <br>
    <div class="row">
        {% for event in row_of_events %}
        <div class="card col-md-4">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{event.name}}<a><i id="deleteEventID" value="{{event.id}}" onclick="deleteEvent(`{{event.id}}`)" class="fa fa-trash" data-toggle="modal" data-target="#deleteEventConfirm"></i></a></h4>
                <!--Text-->
                <p class="card-text">This is due...</p>
            </div>
        </div>
    <!--/.Card-->
        {% endfor %}
    </div>
</div>{% endfor %}

<a class="btn-floating btn-lg" style="position: fixed; right:35px; bottom:35px;" data-toggle="modal" data-target="#createEventForm">
    <i class="fa fa-plus"></i>
</a>

<!-- Create New Class Modal -->
<div class="modal fade" id="createEventForm" tabindex="-1" role="dialog" aria-labelledby="createEventForm" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header darken-3 white-text" style="background-color: #45526E">
                <h4 class=" title">
                    <i class="fa fa-server"></i> Add Assignment
                </h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input placeholder="Name of Assignment"type="text" id="name" class="form-control" required>
                        <label for="name"></label>
                    </div>
                    <select id="typeOfEvent" class="mdb-select">
                        <option value="" disabled selected>Type of Assignment</option>
                        <option value="Homework">Homework</option>
                        <option value="Test">Test</option>
                        <option value="Quiz">Quiz</option>
                        <option value="Presentation">Presentation</option>
                        <option value="Lab">Lab</option>
                        <option value="Final">Final</option>
                        <option value="Midterm">Midterm</option>
                        <option value="Project">Project</option>
                    </select>
                    <div class="md-form">
                        <input placeholder="Due Date" type="text" id="due-date" class="form-control datepicker">
                        <label for="due-date"></label>
                    </div>
                    <div class="md-form">
                      <input placeholder="Due Time" type="text" id="input_duetime" class="form-control timepicker">
                      <label for="input_duetime"></label>
                  </div>
                    <div class="text-center mt-1-half">
                        <button id="eventCreateButton" onclick="addEvent()" class="btn btn-mdb mdb-2">
                            Add Assignment
                            <i class="fa fa-pencil ml-1"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- \Create New Assignment Modal -->

{% endblock %} {% block js_import %}
<script type="text/javascript">
    $('.mdb-select').material_select();
    $(".button-collapse").sideNav();
    // Data Picker Initialization
    $('.datepicker').pickadate();
    $('#input_duetime').pickatime({
      twelvehour: true
    });
</script>

<script>
function addEvent() {
    console.log("suh dude")
    let payload = [];
    let n = $('#name').val();
    let d = $('#due-date').val()
    let t = $('#input_duetime').val()
    let tOfE = $('#typeOfEvent').val()
    console.log(tOfE)
    // console.log(t)
    // console.log(typeof date)
    // console.log(n)
    payload.push({
        name: n,
        date: d,
        time: t,
        typeOfEvent: tOfE
    });
    console.log(payload);

    $.ajax({
        type: "POST",
        url: `/events/{{c.id}}/addEvent`,
        data: JSON.stringify(payload),
        success: function(data) {
            console.log(data);
        },
        contentType: "application/json"
    })
    .then(function() {
        window.location.href = "/classes/{{c.id}}"
    })

}

function deleteEvent(event_id) {
    console.log("we out here, finna delete an event")
    let payload = []
    // let event_id_to_del = $('#deleteEventID').val()
    console.log(event_id)

    payload.push({
        event_id: event_id
    });

    $.ajax({
        type: "POST",
        url: `/events/{{c.id}}/deleteEvent`,
        data: JSON.stringify(payload),
        success: function(data) {
            console.log(data);
        },
        contentType: "application/json"
    })
    .then(function() {
        window.location.href = "/classes/{{c.id}}"
    })    

}
</script>
{% endblock %}
